<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="container">
    <h1>Listagem de Produtos</h1>
    <form>
        <div class="form-group">
            <label>Produto</label>
            <select class="form-control" ng-options="product.description for product in products" ng-model="item.product">
            </select>
            <br/>
            <div class="form-group">
                <label>Quantidade</label>
                <input type="text" class="form-control" ng-model="item.quantity" name="quantity">
            </div>
            <br/>
            <input type="submit" class="btn btn-success" ng-click="addItem(item)" value="Adicionar Item"/>
        </div>
    </form>
</div>